@font-face {
  font-family: 'Miguer';
  src: url('./miguersansregular-g3nqa.otf');
}
body{
    font-family: Miguer;
    margin: 70px;
    padding: 60px;
    padding-left: 250px;
    padding-right: 250px;
    background-color: #000000;
}
body::-webkit-scrollbar {
  width: 15px;
  background-color: #000000;
}
body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}
body::-webkit-scrollbar-thumb {
  background-color: #500526;
  border-radius: 20px;
  border: 5px solid black
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: grayscale(0) opacity(.4) hue-rotate(70deg);
}

svg{
    width: 100%;  
    height: 100%;  
    position: fixed;
    top: 0px;  
    left: 0px;  
    z-index: -1;
    filter: grayscale(1) brightness(58%) contrast(550%) brightness(20%);
}
  
.logo{
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 60px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    gap: 8px;
}

input[type="text"]{
    font-family: Miguer;
    width: 400px;
    padding: 7px 27px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    text-align: center;
    color: white;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    transition: .2s ease-out;
    font-size: 14px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
input:hover{
    border-color: rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.13);

}
input::placeholder{
    color: #ffffff43;
}
.filter-buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.filter-btn{
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.15);
    padding: 7px 27px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    transition: .2s ease-out;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.filter-btn.active{
    background: #007bffdc;
    color: rgb(255, 255, 255);
    border-color: #0056b3;
}
.items-grid{
    display: grid;
    place-self: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 100px;
    margin-top: 90px;
    margin-bottom: 70px;
    perspective: 1000px;
}
.item-card{
    font-family: Miguer;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    transition: .2s ease-out;
    text-decoration: none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 15px;
    cursor: pointer;
}
.item-card:hover{
    border-color: rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.13);
}
.item-card:active{
    background-color: #ffffffb0;
}
.item-card h3{
    font-size: 15px;
    color: white;
}
.item-card p{
    color: #666;
    font-size: 14px;
    text-align: left;
    margin: 8px;
}
.item-card .item-icon{
    width: 120px;
    filter: invert(1) opacity(.3) drop-shadow(6px 6px 8px black);
}
/* .item-card .add-button{
    cursor: pointer;
    font-family: Miguer;
    margin-top: 10px;
    padding: 7px 40px 7px 40px;
    border-radius: 20px;
    filter: invert(1) opacity(.15) drop-shadow(6px 6px 8px black);
    transition: .2s ease-out;
}
.item-card .add-button:hover{
    filter: invert(1) opacity(.8) drop-shadow(6px 6px 8px rgb(0, 0, 0));
} */
footer{
    color: rgba(255, 255, 255, 0.2);
    font-size: 15px;
    text-align: center;
    margin-top: 150px;
    text-shadow: 0px 1px 12px black;
}
.inline-button{
    font-family: Miguer;
    text-decoration: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0px 1px 12px black;
    padding: 0;
    border: 0;
    cursor: pointer;
    transition: .3s ease-out;
}
.inline-button:hover{
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0px 1px 12px rgb(255, 255, 255);
}
